* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------- HEADER -------------*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#left-div {
  display: flex;
  align-items: center;
  padding: 10px;
}

#youtube-logo {
  width: 100px;
}

.fas {
  margin: 10px;
  color: rgb(122, 122, 122);
}

#middle-div {
  display: flex;
  justify-content: center;
  width: 70%;
}

#middle-div > input {
  width: 80%;
  height: 27px;
  border: 1px black solid;
  border-right: none;
}

#middle-div > button {
  height: 27px;
  width: 50px;
}

#middle-div > button .fas {
  margin: 0;
}

#right-div > input {
  background-color: rgb(22, 122, 198);
  border: none;
  border-radius: 2px;
  color: white;
  width: 50px;
  height: 27px;
}

/*------------ THE MAIN ---------*/

.grid-container {
  padding: 10px 0;
  background-color: rgb(241, 241, 241);
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  grid-auto-columns: auto;
}

iframe {
  grid-column: 1/2;
  width: 100%;
}

.informations {
  grid-column: 1/2;
  background-color: white;
}

.description {
  grid-column: 1/2;
  background-color: white;
}

aside {
  grid-row: 1/4;
  grid-column: 2/3;
  background-color: white;
}
