* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 241);
  font-family: "Noto Sans JP", "Roboto", sans-serif;
}

/*----------- HEADER -------------*/
.header {
  width: 100%;
  height: auto;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#left-div {
  display: flex;
  align-items: center;
  padding: 10px;
}

#youtube-logo {
  width: 100px;
}

.fas {
  margin: 10px;
  color: rgb(122, 122, 122);
}

#middle-div {
  display: flex;
  justify-content: center;
  width: 70%;
}

#middle-div > input {
  width: 80%;
  height: 27px;
  border: 1px black solid;
  border-right: none;
}

#middle-div > button {
  height: 27px;
  width: 50px;
}

#middle-div > button .fas {
  margin: 0;
}

#right-div > input {
  background-color: rgb(22, 122, 198);
  border: none;
  border-radius: 2px;
  color: white;
  width: 50px;
  height: 27px;
}

/*------------ THE MAIN ---------*/

.grid-container {
  padding: 10px 0;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  grid-auto-columns: auto;
}

.video-container {
  grid-column: 1/2;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.informations {
  grid-column: 1/2;
  background-color: white;
  padding: 10px;
}

.informations .info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.informations .channel-image {
  width: 48px;
  margin: 10px;
}

.informations .info .channel-info {
  display: flex;
}

.informations .info .name-subscribe {
  margin-top: 10px;
}
.subscribe-button {
  margin-top: 5px;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 100px;
  height: 24px;
  border: 1px solid black;
  outline: none;
  border-radius: 2px;
}

.informations .views {
  align-self: flex-end;
  float: right;
  margin: 10px;
  font-size: 20px;
  color: rgb(102, 102, 102);
}

.social-media-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.social-media-buttons button {
  background-color: transparent;
  border: none;
  color: rgb(122, 122, 122);
  outline: none;
}

.social-media-buttons button:hover {
  cursor: pointer;
}

.description {
  grid-column: 1/2;
  background-color: white;
  padding: 20px;
  color: rgb(75, 75, 75);
  margin-bottom: 100px;
}

.description h5 {
  font-size: medium;
  margin-bottom: 10px;
}

.description p {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.description button {
  border: none;
  background: transparent;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  color: rgb(122, 122, 122);
}

.description button:hover {
  cursor: pointer;
}

aside {
  grid-row: 1/4;
  grid-column: 2/3;
  background-color: white;
  padding: 15px;
}

.recommended-video {
  display: flex;
}

.recommended-video img {
  width: 168px;
  height: 94px;
  margin-right: 10px;
}

.video-description h5 {
  margin-top: 5px;
  color: rgb(118, 118, 118);
  font-size: small;
}
